
@import url();

h1 {
  font-family: arial;
  color: #1fffe9;
  font-size: 36px;
  font-weight: bold;
}
h2 {
  font-family: arial;
  margin-top: -1.5rem;
  font-weight: bold;
  color: #ff5a1f;
}
h3 {
  font-family: arial;
  color: #7400b3;
  font-size: 12px;
  font-weight: bold;
}
p {
  font-family: arial;
  margin-top: -1rem;
  text-aling: justify;
  font-weight: lighter;
  color: #ff5a1f;
}

p1 {
  margin-top: -2rem;
  font-family: arial;
  font-size: 12px;
  font-weight: lighter;
  color: #7400b3;
}

#key {
  position: absolute;
  top: 900px;
  left: 0px;
}
#container{

position: absolute;
margin-top: -140px;
margin-left: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-content: flex-start;
    z-index: 1;
  }


#box-a{
  position: absolute;
  margin-top: 0px;
  margin-left:0px;
  width: 150px;
  height:150px;
  background: linear-gradient(45deg, rgba(22,240,142,1) 0%, rgba(18,204,158,1) 40%, rgba(11,161,183,1) 72%, rgba(4,124,204,1) 100%);
  box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
  }
#box-b{
  position: absolute;
  margin-top: 0px;
  margin-left:160px;
  width: 150px;
  height:150px;
  background: linear-gradient(45deg, rgba(22,240,142,1) 0%, rgba(18,204,158,1) 40%, rgba(11,161,183,1) 72%, rgba(4,124,204,1) 100%);
  box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
}
#box-c{
  position: absolute;
  margin-top: 0px;
  margin-left:320px;
  width: 150px;
  height:150px;
  background: linear-gradient(45deg, rgba(22,240,142,1) 0%, rgba(18,204,158,1) 40%, rgba(11,161,183,1) 72%, rgba(4,124,204,1) 100%);
  box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
}
#box-d{
  position: absolute;
  margin-top: 0px;
  margin-left:480px;
  width: 150px;
  height:150px;
  background: linear-gradient(45deg, rgba(22,240,142,1) 0%, rgba(18,204,158,1) 40%, rgba(11,161,183,1) 72%, rgba(4,124,204,1) 100%);
  box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
}
#box-e{
  position: absolute;
  margin-top: 0px;
  margin-left:640px;
  width: 150px;
  height:150px;
  background: linear-gradient(135deg, rgba(22,240,142,1) 0%, rgba(18,204,158,1) 40%, rgba(11,161,183,1) 72%, rgba(4,124,204,1) 100%);
  box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
}
#box-f{
  position: absolute;
  margin-top: 0px;
  margin-left:800px;
  width: 150px;
  height:150px;
  background: linear-gradient(135deg, rgba(22,240,142,1) 0%, rgba(18,204,158,1) 40%, rgba(11,161,183,1) 72%, rgba(4,124,204,1) 100%);
  box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
}
#box-g{
  position: absolute;
  margin-top: 0px;
  margin-left:960px;
  width: 150px;
  height:150px;
  background: linear-gradient(135deg, rgba(22,240,142,1) 0%, rgba(18,204,158,1) 40%, rgba(11,161,183,1) 72%, rgba(4,124,204,1) 100%);
  box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
}
#box-h{
  position: absolute;
  margin-top: 160px;
  margin-left:0px;
  width: 150px;
  height:150px;
  background: linear-gradient(135deg, rgba(22,240,142,1) 0%, rgba(18,204,158,1) 40%, rgba(11,161,183,1) 72%, rgba(4,124,204,1) 100%);
  box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
}
#box-i{
  position: absolute;
  margin-top:160px;
  margin-left:160px;
  width: 150px;
  height:150px;
  background: linear-gradient(45deg, rgba(22,240,142,1) 0%, rgba(18,204,158,1) 40%, rgba(11,161,183,1) 72%, rgba(4,124,204,1) 100%);
  box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
}
#box-j{
  position: absolute;
  margin-top: 160px;
  margin-left:320px;
  width: 150px;
  height:150px;
  background: linear-gradient(45deg, rgba(22,240,142,1) 0%, rgba(18,204,158,1) 40%, rgba(11,161,183,1) 72%, rgba(4,124,204,1) 100%);
box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
}
#box-k{
  position: absolute;
  margin-top: 160px;
  margin-left:480px;
  width: 150px;
  height:150px;
  background: linear-gradient(45deg, rgba(22,240,142,1) 0%, rgba(18,204,158,1) 40%, rgba(11,161,183,1) 72%, rgba(4,124,204,1) 100%);
  box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;

}
#box-l{
  position: absolute;
  margin-top: 160px;
  margin-left:640px;
  width: 150px;
  height:150px;
  background: linear-gradient(45deg, rgba(22,240,142,1) 0%, rgba(18,204,158,1) 40%, rgba(11,161,183,1) 72%, rgba(4,124,204,1) 100%);
  box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
}
#box-m{
  position: absolute;
  margin-top: 160px;
  margin-left:800px;
  width: 150px;
  height:150px;
  background: linear-gradient(135deg, rgba(22,240,142,1) 0%, rgba(18,204,158,1) 40%, rgba(11,161,183,1) 72%, rgba(4,124,204,1) 100%);
  box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
}
#box-n{
  position: absolute;
  margin-top: 160px;
  margin-left:960px;
  width: 150px;
  height:150px;
  background: linear-gradient(135deg, rgba(22,240,142,1) 0%, rgba(18,204,158,1) 40%, rgba(11,161,183,1) 72%, rgba(4,124,204,1) 100%);
box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
}
#box-o{
  position: absolute;
  margin-top: 320px;
  margin-left:0px;
  width: 150px;
  height:150px;
  background: linear-gradient(135deg, rgba(22,240,142,1) 0%, rgba(18,204,158,1) 40%, rgba(11,161,183,1) 72%, rgba(4,124,204,1) 100%);
  box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;

}
#box-p{
  position: absolute;
  margin-top: 320px;
  margin-left:160px;
  width: 150px;
  height:150px;
  background: linear-gradient(135deg, rgba(22,240,142,1) 0%, rgba(18,204,158,1) 40%, rgba(11,161,183,1) 72%, rgba(4,124,204,1) 100%);
  box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;

}
#box-q{
  position: absolute;
  margin-top: 320px;
  margin-left:320px;
  width: 150px;
  height:150px;
  background: linear-gradient(45deg, rgba(22,240,142,1) 0%, rgba(18,204,158,1) 40%, rgba(11,161,183,1) 72%, rgba(4,124,204,1) 100%);
  box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;

}
#box-r{
  position: absolute;
  margin-top: 320px;
  margin-left:480px;
  width: 150px;
  height:150px;
  background: linear-gradient(45deg, rgba(22,240,142,1) 0%, rgba(18,204,158,1) 40%, rgba(11,161,183,1) 72%, rgba(4,124,204,1) 100%);
  box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;

}
#box-s{
  position: absolute;
  margin-top: 320px;
  margin-left:640px;
  width: 150px;
  height:150px;
  background: linear-gradient(45deg, rgba(22,240,142,1) 0%, rgba(18,204,158,1) 40%, rgba(11,161,183,1) 72%, rgba(4,124,204,1) 100%);
  box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;

}
#box-t{
  position: absolute;
  margin-top: 320px;
  margin-left:800px;
  width: 150px;
  height:150px;
  background: linear-gradient(45deg, rgba(22,240,142,1) 0%, rgba(18,204,158,1) 40%, rgba(11,161,183,1) 72%, rgba(4,124,204,1) 100%);
  box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;

}
#box-u{
  position: absolute;
  margin-top: 320px;
  margin-left:960px;
  width: 150px;
  height:150px;
  background: linear-gradient(135deg, rgba(22,240,142,1) 0%, rgba(18,204,158,1) 40%, rgba(11,161,183,1) 72%, rgba(4,124,204,1) 100%);
  box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;

}
#box-v{
  position: absolute;
  margin-top: 480px;
  margin-left:0px;
  width: 150px;
  height:150px;
  background: linear-gradient(135deg, rgba(22,240,142,1) 0%, rgba(18,204,158,1) 40%, rgba(11,161,183,1) 72%, rgba(4,124,204,1) 100%);
  box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
}
#box-w{
  position: absolute;
  margin-top: 480px;
  margin-left:160px;
  width: 150px;
  height:150px;
  background: linear-gradient(135deg, rgba(22,240,142,1) 0%, rgba(18,204,158,1) 40%, rgba(11,161,183,1) 72%, rgba(4,124,204,1) 100%);
  box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
}
#box-x{
  position: absolute;
  margin-top: 480px;
  margin-left:320px;
  width: 150px;
  height:150px;
  background: linear-gradient(135deg, rgba(22,240,142,1) 0%, rgba(18,204,158,1) 40%, rgba(11,161,183,1) 72%, rgba(4,124,204,1) 100%);
  box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
}
#box-y{
  position: absolute;
  margin-top: 480px;
  margin-left:480px;
  width: 150px;
  height:150px;
  background: linear-gradient(45deg, rgba(22,240,142,1) 0%, rgba(18,204,158,1) 40%, rgba(11,161,183,1) 72%, rgba(4,124,204,1) 100%);
  box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
}
#box-z{
  position: absolute;
  margin-top: 480px;
  margin-left:640px;
  width: 150px;
  height:150px;
  background: linear-gradient(45deg, rgba(22,240,142,1) 0%, rgba(18,204,158,1) 40%, rgba(11,161,183,1) 72%, rgba(4,124,204,1) 100%);
  box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
}
#a{
  margin-top:850px;
  margin-left:600px;
  position:absolute;
/* transform: scale(1.7); */

}
#letter-a{
  top: 0;
  left:0;
  position: absolute;
  display: block;

/* position: relative; */
/* top: 700px;
left: 700px; */
/* margin: auto; */
width: 30px;
height: 85px;
background:transparent;
border-radius: 30% 50% 0% 6%;
border-style: solid;
border-color: #5e18af #5e18af transparent #5e18af;
border-width: 5px 15px 0px 15px;
/* border-bottom-left-radius: 20px; */
}


#letter-a-crossbar{

position: absolute;
top: 35px;
left: -5px;
height: 10px;
width: 45px;
background-color: #5e18af;
border-radius: 20px;
transform: rotate(20deg);
}


.a-dropped{
  animation: ascend 3s infinite;
  top: 0;
  left:0;
  position: absolute;
  display: block;

/* position: relative; */
/* top: 700px;
left: 700px; */
/* margin: auto; */
width: 30px;
height: 85px;
background:transparent;
border-radius: 30% 50% 0% 6%;
border-style: solid;
border-color: midnightblue midnightblue transparent midnightblue;
border-width: 5px 15px 0px 15px;
}




#b{
  position:absolute;
  margin:753px 720px;

}

#letter-b {
  top: 0;
  left:0;
  position: absolute;
  display: block;
    /* position: relative; */
margin: auto;
/* top:-95px; */
    width: 25px;
    height: 35px;
    border-width:  8px 15px 10px 20px;

    border-style: solid;
    border-color: #70fbcc;
    border-radius: 0% 60% 40% 20%;
  transform: skew(-15deg, 0);

}

#letter-b:before {
    content: "";
    position: absolute;

top:35px;
left:-20px;

    width: 25px;
    height: 35px;
    border-width:  8px 15px 10px 20px;

    border-style: solid;
    border-color: #70fbcc;
    border-radius: 0% 60% 40% 0%;

}



.b-dropped {
  animation-name: bounce;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  top: 0;
  left:0;
  position: absolute;
  display: block;
    /* position: relative; */
margin: auto;
/* top:-95px; */
    width: 25px;
    height: 35px;
    border-width:  8px 15px 10px 20px;

    border-style: solid;
    border-color: deeppink;
    border-radius: 0% 60% 40% 20%;
  transform: skew(-15deg, 0);
}



#c{
	position:absolute;

    margin:926px 600px;

}

#letter-c {
  top: 0;
  left:0;
  position: absolute;
  display: block;
    /* position: relative; */
    /* left: 95px;
    top: 40px; */
margin: auto;
    width: 60px;
    height: 60px;
    border-width: 15.5px 0 15.5px 10px;
    border-style: solid;
    border-color: #f94343 transparent #f94343 #f94343;

    border-radius: 90% 5% 5% 90%;
transform: skew(15deg, 0);
}

.c-dropped{
  animation-name: color;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  top: 0;
  left:0;
  position: absolute;
  display: block;
    /* position: relative; */
    /* left: 95px;
    top: 40px; */
margin: auto;
    width: 60px;
    height: 60px;
    border-width: 15.5px 0 15.5px 10px;
    border-style: solid;
    border-color: midnightblue transparent midnightblue midnightblue;

    border-radius: 90% 5% 5% 90%;
transform: skew(15deg, 0);
}
/* .c {
  border: 2px solid $font-color;
  border-radius: 50%;
  height: 121px;
  top: 20px;
  width: 80px;
  &:before {
    background: #fff;
    content: '';
    height: 90px;
    position: absolute;
    top: 10px;
    left: 50px;
    transform: rotate(30deg);
    width: 90px;
  }
} */
#d{
	position:absolute;
    margin:950px 460px;
    /* transform:scale(0.3); */
}
#letter-d{
  top: 0;
  left:0;
  position: absolute;
  display: block;
/* position: relative; */

/* margin: auto; */
height: 105px;
width: 95px;
border-color: #f2ff61;
border-width: 10px 15px 8px 20px;
border-style: solid;
border-radius: 10% 50% 40% 10%;
transform: skew(20deg, 0);

}
.d-dropped{
  animation-name: dangle;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  top: 0;
  left:0;
  position: absolute;
  display: block;
/* position: relative; */

/* margin: auto; */
height: 105px;
width: 95px;
border-color: deeppink;
border-width: 10px 15px 8px 20px;
border-style: solid;
border-radius: 10% 50% 40% 10%;
transform: skew(20deg, 0);
}

#e{
	position:absolute;
    margin:915px 740px;
    /* transform:scale(0.8); */
}
#letter-e {
  top: 0;
  left:0;
  position: absolute;
  display: block;
    /* position: relative; */
    /* margin: auto; */
    width: 45px;
    height: 70px;
    border-width: 10px 0 10px 25px;
    border-style: solid;
    border-color: #00ffc4;
    border-radius: 10% 5% 5% 60% / 20% 5% 11% 3%;
    transform: skew(-20deg, 0);
}

#letter-e::before {
    content: "";
    position: absolute;
    top: 18px;
    left: -5px;
    width: 33px;
    height: 10px;
    border-width: 10px;
    background: #00ffc4;
  border-radius: 40% 30% 30% 10% / 10% 19% 11% 20%;
}

.e-dropped{
  animation-name: expand;
  animation-duration: 2s;
  /* animation-timing-function: ease-in; */
  animation-iteration-count: infinite;
  top: 0;
  left:0;
  position: absolute;
  display: block;
    /* position: relative; */
    /* margin: auto; */
    width: 45px;
    height: 70px;
    border-width: 10px 0 10px 25px;
    border-style: solid;
    border-color: deeppink;
    border-radius: 10% 5% 5% 60% / 20% 5% 11% 3%;
    transform: skew(-20deg, 0);
}

#f{
	position:absolute;
    margin:880px 440px;

}
#letter-f {
  /* animation-name: flip;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: 5;
  animation-delay: 1s; */
  top: 0;
  left:0;
  position: absolute;
  display: block;
    /* position: relative;
    margin: auto; */
    width: 55px;
    height: 70px;
    border-width: 20px 0px 0 15px;
    border-style: solid;
    border-color: #2a22b9;
    border-radius: 6% 10% 70% 20% / 4% 19% 41% 6%;
    transform: skew(-20deg, 0);
}

.f-dropped {
  animation-name: flip;
  animation-duration: 3s;
  /* animation-timing-function: ease-in; */
  animation-iteration-count: infinite;

  top: 0;
  left:0;
  position: absolute;
  display: block;
    /* position: relative;
    margin: auto; */
    width: 55px;
    height: 70px;
    border-width: 20px 0px 0 15px;
    border-style: solid;
    border-color: deeppink;
    border-radius: 6% 10% 70% 20% / 4% 19% 41% 6%;
    transform: skew(-20deg, 0);
}

#letter-f::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 10px;
    left: 0;
    top: 18px;
    background: #2a22b9;
    border-radius: 0% 1% 90% 0%;

}

#g{
	position:absolute;
    margin:845px 500px;
    /* transform:scale(1.5); */
}

#letter-g {
  top: 0;
  left:0;
  position: absolute;
  display: block;
    /* position: relative;
    margin: auto; */
    width: 50px;
    height: 70px;
    border-width: 18px 0 12px 12px;
    border-style: solid;
    border-color: #ff0f7f transparent #ff0f7f #ff0f7f;

  border-radius: 60% 90% 60% 60% / 60% 10% 51% 80%;
  transform: skew(15deg, 0);
}

#letter-g::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: -12px;
    width: 20px;
    height: 25px;
    border-width: 12px 12px 12px 0;
    border-color: #ff0f7f;
    border-style: solid;
    border-radius: 20% 20% 20% 3%;
}

.g-dropped{
  animation-name: grow;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;

  top: 0;
  left:0;
  position: absolute;
  display: block;
    /* position: relative;
    margin: auto; */
    width: 50px;
    height: 70px;
    border-width: 18px 0 12px 12px;
    border-style: solid;
    border-color: midnightblue transparent midnightblue midnightblue;

  border-radius: 60% 90% 60% 60% / 60% 10% 51% 80%;
  transform: skew(15deg, 0);
}

#h{
	position:absolute;
    margin:1005px 690px;

}
#letter-h {
  top: 0;
  left:0;
  position: absolute;
  display: block;
    /* position: relative;
    margin: auto; */
    width: 40px;
    height: 96px;
    border-width: 0 20px 0 10px;
    border-style: solid;
    border-color: #0069e0;
  border-radius: 3% 2% 3% 3% / 4% 1% 1% 3%;
  transform: skew(-15deg, 0);
}

#letter-h::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 15px;
    left: -5px;
    top: 27px;
    background: #0069e0;
    border-radius: 50px;
    transform: skew(15deg, 0);
}

.h-dropped{
  animation-name: hop;
  animation-duration: 3s;
  /* animation-timing-function: ease-in; */
  animation-iteration-count: infinite;
  top: 0;
  left:0;
  position: absolute;
  display: block;
    /* position: relative;
    margin: auto; */
    width: 40px;
    height: 96px;
    border-width: 0 20px 0 10px;
    border-style: solid;
    border-color: deeppink;
  border-radius: 3% 2% 3% 3% / 4% 1% 1% 3%;
  transform: skew(-15deg, 0);
}
#i{
	position:absolute;
    margin:780px 779px;
    /* transform:scale(0.7); */
}
#letter-i {
  top: 0;
  left:0;
  position: absolute;
  display: block;
    /* position: relative;
    margin: auto; */
    width: 60px;
    height: 70px;
    border-width: 20px 0 10px 0;
    border-style: solid;
    border-color: #ff8aad;
    border-radius: 10% 1% 2% 5%;
}

#letter-i::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 80px;
    background: #ff8aad;
    top: -2px;
    left: 25px;
    transform: skew(-10deg, 0);

}
.i-dropped{
  animation-name: inch;
  animation-duration: 8s;
  /* animation-timing-function: ease-in; */
  animation-iteration-count: infinite;

  top: 0;
  left:0;
  position: absolute;
  display: block;
    /* position: relative;
    margin: auto; */
    width: 60px;
    height: 70px;
    border-width: 20px 0 10px 0;
    border-style: solid;
    border-color: deeppink;
    border-radius: 10% 1% 2% 5%;
}
#j{
	position:absolute;
    margin:750px 580px;

}
#letter-j {
  top: 0;
  left:0;
  position: absolute;
  display: block;
    /* position: relative;
    margin: auto; */
    width: 45px;
    height: 85px;
    border-style: solid;
    border-color: #b53dff;
    border-width: 0 20px 15px 0;
  border-radius: 0% 1% 50% 44%;
  transform: skew(-10deg, 0);

}

#letter-j:after {
    content: "";
    position: absolute;
    top: 67px;
    left: -15px;
    right: left;
    width: 49px;
    height: 20px;
    background: #b53dff;
    border-radius: 20% 0% 60% 3%;

    transform: rotate(60deg);

}

.j-dropped{
  animation-name: jiggle;
  animation-duration: 1s;
  /* animation-timing-function: ease-in; */
  animation-iteration-count: infinite;
  top: 0;
  left:0;
  position: absolute;
  display: block;
    /* position: relative;
    margin: auto; */
    width: 45px;
    height: 85px;
    border-style: solid;
    border-color: deeppink;
    border-width: 0 20px 15px 0;
  border-radius: 0% 1% 50% 44%;
  transform: skew(-10deg, 0);
}

#k{
	position:absolute;
    margin:840px 700px;
    /* transform:scale(1.4); */
    z-index: -1;
}
#letter-k {
  top: 0;
  left:0;
  position: absolute;
  display: block;
    /* position: relative;
    margin: auto; */
    width: 70px;
    height: 95px;
    border-style: solid;
    border-color: #b70b58;
    border-width: 0 0 0 20px;
    overflow: hidden;
    /* border-radius: 10% 30% 20% 20%; */
    border-radius: 10% 30% 30% 10% / 10% 19% 11% 20%;
    transform: skew(-15deg, 0);
}

#letter-k::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 3px;
    width: 15px;
    height: 100px;
    left: 10px;
    background: #b70b58;
    transform: rotate(60deg);
    padding: 2px;
    /* border-radius: 10% 40% 20% 20%; */
    border-radius: 80% 30% 30% 90% / 90% 69% 91% 20%;
}

#letter-k::after {
    content: "";
    position: absolute;
    top: 33px;
    right: 22px;
    width: 15px;
    height: 87px;
    background: #b70b58;
    transform: rotate(-35deg);
    /* border-radius: 20px; */
    border-radius: 70% 10% 80% 70% / 90% 99% 91% 90%;
}
.k-dropped{
   animation: knock 1s infinite;
  /* animation: knock;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-iteration-count: 5;
  animation-delay: 1s; */
  top: 0;
  left:0;
  position: absolute;
  display: block;
    /* position: relative;
    margin: auto; */
    width: 70px;
    height: 95px;
    border-style: solid;
    border-color: deeppink;
    border-width: 0 0 0 20px;
    overflow: hidden;
    /* border-radius: 10% 30% 20% 20%; */
    border-radius: 10% 30% 30% 10% / 10% 19% 11% 20%;
    transform: skew(-15deg, 0);

}
#l{
	position:absolute;
    margin:790px 455px;
    /* transform:scale(0.6); */
}
#letter-l {
  top: 0;
  left:0;
  position: absolute;
  display: block;
    /* position: relative;
    margin: auto; */
    width: 50px;
    height: 88px;
    border-width: 0 0 25px 15px;
    border-style: solid;
    border-color: #06fee9;
  border-radius: 10% 7% 6% 5%;
  transform: skew(-15deg, 0);
}

.l-dropped{

  animation: loop 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both infinite;

  top: 0;
  left:0;
  position: absolute;
  display: block;
    /* position: relative;
    margin: auto; */
    width: 50px;
    height: 88px;
    border-width: 0 0 25px 15px;
    border-style: solid;
    border-color:deeppink;
  border-radius: 10% 7% 6% 5%;
  transform: skew(-15deg, 0);
}
#m{
	position:absolute;
    margin:740px 480px;
    /* transform:scale(1.4); */
}
#letter-m {
  top: 0;
  left:0;
  position: absolute;
  display: block;
    /* position: relative;
    margin: auto; */
    width: 60px;
    height: 95px;
    border-style: solid;
    border-color: #ac00e6;
    border-width: 0 20px 0 20px;
  border-radius: 5% 5% 10% 10%;
  transform: skew(13deg, 0);
}

#letter-m::before {
    content: "";
    position: absolute;
    top: -12px;
    width: 15px;
    height: 65px;
    background: #ac00e6;
    left: 2px;
    transform: rotate(-45deg);
  /* border-radius: 10% 20% 20% 10% / 10% 19% 11% 20%; */
  border-radius: 20% 20% 20% 20%;
}
#letter-m::after {
  top: -12px;
    content: "";
    position: absolute;
    width: 15px;
    height: 65px;
    background: #ac00e6;
    right: 2px;
    transform: rotate(45deg);
    /* border-radius: 10% 20% 20% 10% / 10% 19% 11% 20%; */
    border-radius: 30% 30% 15% 15%;
}
.m-dropped {
  animation: squishing
  2s 1.5s ease-in-out infinite;
   /* animation: skewing 2s 1.5s ease-in-out infinite; */

  top: 0;
  left:0;
  position: absolute;
  display: block;
    /* position: relative;
    margin: auto; */
    width: 60px;
    height: 95px;
    border-style: solid;
    border-color: pink;
    border-width: 0 20px 0 20px;
  border-radius: 5% 5% 10% 10%;
  transform: skew(13deg, 0);
}
#n{
	position:absolute;
    margin:1050px 370px;
    /* transform:scale(0.4); */
}
#letter-n {
  top: 0;
  left:0;
  position: absolute;
  display: block;
    /* position: relative;
    margin: auto; */
    height: 100px;
    width: 55px;
    border-style: solid;
    border-color: #ff3f38;
    border-width: 0 15px 0 30px;
    /* border-radius: 10% 20% 20% 30% / 10% 19% 21% 20%; */
    border-radius: 10% 10% 10% 10% / 3% 3% 3% 3%;
    transform: skew(15deg, 0);
}

#letter-n::before {
    content: "";
    position: absolute;
    top: 7px;
    left: -6px;
    width: 20px;
    height: 123px;
    transform-origin: -6px 14px 0;
    transform: rotate(-35deg);
    background: #ff3f38;
    border-radius: 40% 40% 40% 40%;
    /* border-radius: 35px; */
}
.n-dropped {
  animation: nudge 3s ease-in infinite;
  top: 0;
  left:0;
  position: absolute;
  display: block;
    /* position: relative;
    margin: auto; */
    height: 100px;
    width: 55px;
    border-style: solid;
    border-color: deeppink;
    border-width: 0 15px 0 30px;
    /* border-radius: 10% 20% 20% 30% / 10% 19% 21% 20%; */
    border-radius: 10% 10% 10% 10% / 3% 3% 3% 3%;
    transform: skew(15deg, 0);
}
#o{
	position:absolute;
    margin:1050px 500px;
    /* transform:scale(1.25); */
}
#letter-o {
  top: 0;
  left:0;
  position: absolute;
  display: block;
    /* position: relative;
    margin: auto;
    display: block; */
    width: 50px;
    height: 95px;
    border-radius: 40px 40px 40px 40px;
    /* border: 13px solid black; */
    border-width: 10px 20px 10px 20px;
    border-color: #0059d6;
    border-style: solid;
    transform: skew(-15deg, 0);
}
.o-dropped{
animation: open 2s cubic-bezier(0.600, -0.580, 0.735, 0.005) both;
  animation-iteration-count: infinite;
  top: 0;
  left:0;
  position: absolute;
  display: block;
    /* position: relative;
    margin: auto;
    display: block; */
    width: 50px;
    height: 95px;
    border-radius: 40px 40px 40px 40px;
    /* border: 13px solid black; */
    border-width: 10px 20px 10px 20px;
    border-color: deeppink;
    border-style: solid;
    transform: skew(-15deg, 0);
}

#p{
	position:absolute;
    margin:820px 385px;
    /* transform:scale(1.2); */
}
#letter-p {
  top: 0;
  left:0;
  position: absolute;
  display: block;
  /* top: 5px;
    position: relative;
    margin: 10px;
  display: block; */
    width: 50px;
    height: 100px;
    border-width: 0 0 0 15px;
    border-style: solid;
    border-color: #ffea4d;
    border-radius: 10% 30% 30% 10% / 10% 19% 11% 20%;
    transform: skew(25deg, 0);
}

#letter-p::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -15px;
    height: 40px;
    width: 45px;
    border-radius: 30px 20px 40px 10px;
    /* border: 12px solid black; */
    border-width: 15px 15px 10px 10px;
    border-color: #ffea4d;
    border-style: solid;
}
.p-dropped{
  animation: pulsate 1s;
        animation-iteration-count: infinite;
        opacity: 1;
        top: 0;
        left:0;
        position: absolute;
        display: block;
        /* top: 5px;
          position: relative;
          margin: 10px;
        display: block; */
          width: 50px;
          height: 100px;
          border-width: 0 0 0 15px;
          border-style: solid;
          border-color: deeppink;
          border-radius: 10% 30% 30% 10% / 10% 19% 11% 20%;
          transform: skew(25deg, 0);
}
#q{
	position:absolute;
    margin:920px 795px;
    /* transform:scale(0.25); */
}
#letter-q {
  top: 0;
  left:0;
  position: absolute;
  display: block;
    /* position: relative;
    margin: auto; */
    width: 60px;
    height: 100px;
    border-radius: 70px;

    border-width: 15px 10px 10px 20px;
    border-color: mediumslateblue;
    border-style: solid;
    transform: skew(15deg, 0);
}

#letter-q::before {
    content: "";
    position: absolute;
    width: 17px;
    height: 35px;
    background: mediumslateblue;
    bottom: -15px;
    right: -5px;
    transform: rotate(-60deg);
    border-radius: 10px 10px 20px 10px;
}
.q-dropped{
  animation-name: quick;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  top: 0;
  left:0;
  position: absolute;
  display: block;
    /* position: relative;
    margin: auto; */
    width: 60px;
    height: 100px;
    border-radius: 70px;

    border-width: 15px 10px 10px 20px;
    border-color: deeppink;
    border-style: solid;
    transform: skew(15deg, 0);
}
#r{
	position:absolute;
    margin:900px 660px;
    /* transform:scale(0.25); */
}
#letter-r {
  top: 0;
  left:0;
  position: absolute;
  display: block;
    /* position: relative;
    margin: auto; */
    width: 45px;
    height: 120px;
    border-width: 0 0 0 15px;
    border-style: solid;
    border-color: #ff61a3;
  border-radius: 10% 30% 30% 10% / 10% 19% 11% 20%;
  transform: skew(15deg, 0);
}

#letter-r::before {
    content: "";
    position: absolute;
    left: -15px;
    top: -2px;
    height: 35px;
    width: 45px;
    background: transparent;
    border-radius: 30% 50% 30% 50% / 20% 49% 41% 20%;

    border-width: 15px 10px 15px 10px;
    border-color: #ff61a3;
    border-style: solid;
}

#letter-r::after {
    content: "";
    position: absolute;
    left: -12px;
    bottom: -30px;
    height: 85px;
    width: 55px;
    /* border-radius: 30% 30% 30% 50% / 30% 29% 31% 80%; */
    border-radius: 20% 20% 20% 30%;
    border-color: #ff61a3;
    border-style: solid;
    border-width: 0 15px 0 0;
    transform: rotate(-40deg);
}
.r-dropped{
  animation: rotating 1s linear infinite;
  top: 0;
  left:0;
  position: absolute;
  display: block;
    /* position: relative;
    margin: auto; */
    width: 45px;
    height: 120px;
    border-width: 0 0 0 15px;
    border-style: solid;
    border-color: deeppink;
  border-radius: 10% 30% 30% 10% / 10% 19% 11% 20%;
  transform: skew(15deg, 0);
}
#s{
	position:absolute;
    margin:1050px 750px;
    /* transform:scale(0.25); */
}
#letter-s{
transform:rotate(14deg);
top: 0;
left:0;
position: absolute;
display: block;
/* margin: auto;
position:relative; */
width:45px;
height:10px;
top: -20px;
left:20px;
border-color:cyan;

}
#letter-s::before{
transform:rotate(18deg);
position:absolute;
top: -45px;
content:"";
width:40px;
height:50px;
border-width:10px 0 15px 25px;
border-color:cyan;
border-style:solid;
/* border-radius:220% 10% 10% 150%;
border-radius: 30px 10px 10px 30px; */
 /* border-radius: 90% 99% 90% 90% / 90% 9% 21% 90%; */
 border-radius: 220% 0 0 150% / 150% 0 0  100%;
}
 #letter-s::after{
transform:rotate(198deg);
position:absolute;
content:"";
top:23px;
left:17px;
width:40px;
height:50px;
border-width:10px 0 15px 25px;
border-color:cyan;
border-style:solid;

/* border-radius: 60% 30% 40% 60% / 60% 9% 41% 80%; */
border-radius: 240% 0 0 110% / 140% 0 0 100%;

}
.s-dropped{
animation-name: swing;
 transform-origin: top center;
 animation-duration: 3s;
 animation-timing-function: ease-in;
 animation-iteration-count: infinite;
 animation-delay: 1s;
 transform:rotate(14deg);
 top: 0;
 left:0;
 position: absolute;
 display: block;
 /* margin: auto;
 position:relative; */
 width:45px;
 height:10px;
 top: -20px;
 left:20px;
 border-color:midnightblue;
}
#t{
	position:absolute;
    margin:920px 300px;
    /* transform:scale(0.25); */
}
#letter-t {

  top: 0;
  left:0;
  position: absolute;
  display: block;
/* position:relative; */
/* margin: 10px; */
/* margin: auto; */
/* top:10px; */
/* left:10px; */
width:90px;
height:115px;
border-top:solid 15px lightcoral;
border-radius: 10% 10% 10% 10%;
transform: skew(-15deg, 0);
}
#letter-t::before{
position:absolute;
content:"";
top:0;
left:37px;
width:16px;
height:120px;
background-color:lightcoral;
border-radius: 10% 10% 10% 10% / 10% 9% 11% 10%;
}
.t-dropped{
  animation: twist 2s cubic-bezier(.28,.47,.62,.86) infinite;
  top: 0;
  left:0;
  position: absolute;
  display: block;
/* position:relative; */
/* margin: 10px; */
/* margin: auto; */
/* top:10px; */
/* left:10px; */
width:90px;
height:115px;
border-top:solid 15px midnightblue;
border-radius: 10% 10% 10% 10%;
transform: skew(-15deg, 0);
}
#u{
	position:absolute;
    margin:950px 370px;
    /* transform:scale(0.75); */
}
#letter-u{

  top: 0;
  left:0;
  position: absolute;
  display: block;
/* position:relative;
margin: auto;

left:-40px; */
width:45px;
height:90px;
border-width:0 18px 0 18px;
border-color:lightpink;
border-style:solid;
border-radius: 10% 10% 30% 30%;
transform: skew(15deg, 0);

}
#letter-u::before{
position:absolute;
content:"";
top:65px;
left:-18px;
width:50px;
height:25px;
border-width:0 16px 15px 16px;
border-color:lightpink;
border-style:solid;
border-radius: 0 0 150% 150% / 0 0 300% 300%;

}
.u-dropped{
  animation: under 2s infinite;
  /* cubic-bezier(0.455, 0.030, 0.515, 0.955) both; */
  top: 0;
  left:0;
  position: absolute;
  display: block;
/* position:relative;
margin: auto;

left:-40px; */
width:45px;
height:90px;
border-width:0 18px 0 18px;
border-color:deeppink;
border-style:solid;
border-radius: 10% 10% 30% 30%;
transform: skew(15deg, 0);
}

#v{
	position:absolute;
    margin:760px 675px;

}
#letter-v{
  top: 0;
  left:0;
  position: absolute;
  display: block;
/* position:relative;
margin: auto;
top:-35px;
left:-40px; */
width:90px;
/* border-radius: 10% 30% 30% 10% / 10% 19% 11% 20%; */

}
#letter-v::before{
transform:skew(20deg,0);
position:absolute;
content:"";
top:-2px;
left:-16px;

height:105px;
border-left:solid 22px darkblue;
border-radius: 30% 3% 30% 3% / 10% 19% 11% 20%;
}
#letter-v::after{
transform:skew(-30deg,0);
position:absolute;
content:"";
top:0px;
left: 35px;
right:0;
height:100px;

border-left:solid 15px darkblue;
border-radius: 10% 30% 30% 10% / 10% 19% 11% 20%;
}

.v-dropped{
  animation: vibrate 0.5s linear infinite both;
  top: 0;
  left:0;
  position: absolute;
  display: block;
/* position:relative;
margin: auto;
top:-35px;
left:-40px; */
width:90px;
}
#w{
	position:absolute;
    margin:830px 235px;

}
#letter-w{
  top: 0;
  left:0;
  position: absolute;
  display: block;
/* position:relative;
margin: auto;
top:-28.5px;
left:-65px; */
width:140px;
transform: skew(15deg, 0);
/* border-radius: 10% 30% 30% 10% / 10% 19% 11% 20%; */
}
#letter-w::before{
transform:skew(25deg,0);
position:absolute;
content:"";
top:0px;
left:-14px;
width:65px;
height:85px;
border-width:0 20px 0 20px;
border-color:blueviolet;
border-style:solid;
/* border-radius: 30% 20% 10% 10% / 40% 19% 31% 60%; */
 border-radius: 5% 2% 20% 10% / 3% 20% 40% 15%;
}
#letter-w::after{
transform:skew(-25deg,0);
position:absolute;
content:"";
top:0px;
right:12px;
width:65px;
height:85px;
border-width:0 15px 0 20px;
border-color:blueviolet;
border-style:solid;
border-radius: 5% 5% 12% 5% / 27% 5% 20% 20%;
/* border-radius: 10% 20% 20% 10% / 40% 9% 81% 60%; */
}
.w-dropped{
  animation-name: wobble;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  top: 0;
  left:0;
  position: absolute;
  display: block;
/* position:relative;
margin: auto;
top:-28.5px;
left:-65px; */
width:140px;
transform: skew(15deg, 0);
}
#x{
	position:absolute;
    margin:700px 385px;

}

#letter-x{
/* position:relative;
margin: auto;
/* top:12.5px; */
/* left:-44px;  */
width:23px;
height:85px;

border-radius: 10% 30% 30% 10% / 10% 19% 11% 20%;
transform: skew(5deg, 0);
}
#letter-x::before{
transform:skew(40deg,0);
position:absolute;
content:"";
top:0;
left:0;
width:15px;
height:105px;
background-color:hotpink;
border-radius: 10% 30% 30% 50% / 10% 19% 11% 20%;
}
#letter-x::after{
transform:skew(-32deg,0);
position:absolute;
content:"";
top:0;
right:0;
width:30px;
height:105px;
background-color: hotpink;
border-radius: 10% 30% 30% 50% / 10% 19% 51% 20%;
}

.x-dropped{
  animation-name: flash;
  animation-duration: .5s;

  animation-iteration-count: infinite;

  width:23px;
  height:85px;

  border-radius: 10% 30% 30% 10% / 10% 19% 11% 20%;
  transform: skew(5deg, 0);
}
#y{
	position:absolute;
    margin:680px 452px;
}
#letter-y{
  top: 0;
  left:0;
  position: absolute;
  display: block;
/* position:relative;
margin: auto;
top:40.5px;
left:-18px; */
width:20px;
height:90px;
background-color:indigo;
border-radius: 10% 30% 30% 10% / 10% 19% 11% 20%;
transform: skew(-15deg, 0);
}
#letter-y::before{
transform:skew(45deg,0);
position:absolute;
content:"";
top:-45px;
left:-27px;
width:20px;
height:60px;
background-color:indigo;
border-radius: 10% 30% 30% 70% / 10% 19% 11% 20%;
}
#letter-y::after{
transform:skew(-35deg,0);
position:absolute;
content:"";
top:-35px;
right:-15px;
width:15px;
height:50px;
background-color:indigo;
border-radius: 10% 30% 30% 40% / 10% 19% 11% 20%;
}

.y-dropped{
  animation: swing ease-in-out 3s infinite alternate;
   top: 0;
   left:0;
   position: absolute;
   display: block;
 /* position:relative;
 margin: auto;
 top:40.5px;
 left:-18px; */
 width:20px;
 height:90px;
 background-color:midnightblue;
 border-radius: 10% 30% 30% 10% / 10% 19% 11% 20%;
 transform: skew(-15deg, 0);
 transform-origin: center -20px;
    float:left;
}
#z{
	position:absolute;
    margin:980px 250px;
}

#letter-z{
  top: 0;
  left:0;
  position: absolute;
  display: block;
/* position:relative;
margin: auto;
top:10px;
left: -15px; */
/* left:120px; */
width:110px;
height:90px;
border-width:15px 0 20px 0;
border-color:deeppink;
border-style:solid;
/* border-radius: 15px; */
border-radius: 19% 90% 10% 10% / 2% 8% 11% 10%;
transform: skew(-20deg);

}
#letter-z:before{
transform:skew(-38deg,0);
position:absolute;
content:"";
top:-4px;
left:35px;
width:38px;
height:104px;
background-color:deeppink;
border-radius: 50% 39% 80% 90% / 10% 10% 11% 20%;

}

.z-dropped {
  animation: zigzag .7s 0s infinite linear;
  animation: zigzag2 .7s 0s infinite linear;
/* animation-name: zoomIn;
 animation-duration: 2s;
 animation-timing-function: ease-in;
 animation-iteration-count: 5;
 animation-delay: 1s; */

  top: 0;
  left:0;
  position: absolute;
  display: block;
/* position:relative;
margin: auto;
top:10px;
left: -15px; */
/* left:120px; */
width:110px;
height:90px;
border-width:15px 0 20px 0;
border-color:deeppink;
border-style:solid;
/* border-radius: 15px; */
border-radius: 19% 90% 10% 10% / 2% 8% 11% 10%;
transform: skew(-20deg);

}
/* #box {
  position: relative;
  width: 300px;
  height: 200px;
  background: pink;
} */
@keyframes bounce {
  0%{
    transform: translateY(-45px) translateX(48px);
  }
  25%{
    transform: translateY(0) translateX(0);
}
  40%{
    transform: translateY(-44px) translateX(-26px);
  }
  55%{
    transform: translateY(0) translateX(0);
  }
  65%{
    transform: translateY(-52px) translateX(33px);
  }
  75%{
    transform: translateY(0) translateX(0);
  }
  82%{
    transform: translateY(-66px) translateX(-36.5px);
  }
  87%{
    transform: translateY(0) translateX(0);
  }
  93%{
    transform: translateY(-54px) translateX(-34px);
  }
  100%{
    transform: translateY(0) translateX(0);
  }
}
@keyframes flip {
    5% {
      transform: rotateX(1turn);
    }
    10% {
      transform: rotateX(2turn);
    }
    20% {
      transform: rotateX(3turn);
    }
    40% {
      transform: rotateX(4turn);
    }
    70%, 100% {
      transform: rotateX(3turn);
    }
  }
  @keyframes float {
  	0% {
  		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  		transform: translatey(0px);
  	}
  	50% {
  		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
  		transform: translatey(-20px);
  	}
  	100% {
  		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  		transform: translatey(0px);
  	}
  }
  @keyframes hop {
  0% {
            transform: translateY(0);
            animation-timing-function: ease-out;
  }
  5% {
    /* -webkit-transform: translateY(-30px); */
            transform: translateY(50px);
            animation-timing-function: ease-in;
  }
  15% {
            transform: translateY(0);
            animation-timing-function: ease-out;
  }
  25% {
    /* -webkit-transform: translateY(-38px); */
            transform: translateY(78px);
            animation-timing-function: ease-in;
  }
  38% {
            transform: translateY(0);
            animation-timing-function: ease-out;
  }
  52% {
    /* -webkit-transform: translateY(-75px); */
            transform: translateY(75px);
            animation-timing-function: ease-in;
  }
  70% {
            transform: translateY(0);
            animation-timing-function: ease-out;
  }

  100% {
    /* -webkit-transform: translateY(-800px); */
            transform: translateY(60px);

  }
}

@keyframes move {
  0% {transform: translateX(50px);
  transform: translateY(50px);}
  20% {transform: translateX(-50px);
  transform: translateY(-50px)}
  100% {transform: translate(200px);}
}

@keyframes wobble {
  from {
transform: translate3d(0, 0, 0);
  }
15% {
transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
30% {
transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
45% {
transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
60% {
transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
75% {
transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
to {
transform: translate3d(0, 0, 0);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    /* -webkit-transform: scale3d(0.3, 0.3, 0.3); */
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
@keyframes swing {
  20% {
    /* -webkit-transform: rotate3d(0, 0, 1, 15deg); */
    transform: rotate3d(0, 0, 1, 25deg);
  }

  40% {
    /* -webkit-transform: rotate3d(0, 0, 1, -10deg); */
    transform: rotate3d(0, 0, 1, -25deg);
  }

  60% {
    /* -webkit-transform: rotate3d(0, 0, 1, 5deg); */
    transform: rotate3d(0, 0, 1, 25deg);
  }

  80% {
    /* -webkit-transform: rotate3d(0, 0, 1, -5deg); */
    transform: rotate3d(0, 0, 1, -25deg);
  }

  to {
    /* -webkit-transform: rotate3d(0, 0, 1, 0deg); */
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
@keyframes pulsate {
    0% {transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {transform: scale(1.2); opacity: 0.6;}

    100% {transform: scale(1.9, 1.9); opacity: 0.0;}
}
@keyframes rotating {
  from {
    /* -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg); */
    transform: rotate(0deg);
  }
  to {
    /* -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg); */
    transform: rotate(360deg);
  }
}

/* @keyframes colorchange {
  from {
    border-color: midnightblue;
  }
  to {
    border-color: deeppink;
  }
} */
/* @keyframes ascend {
  0% {
            transform: scaleY(0.4);
            transform-origin: 100% 0%;
  }
  100% {
            transform: scaleY(1);
            transform-origin: 100% 0%;
  }
} */
@keyframes ascend {
  0%   {height: 85px;}
  25%  {height: 120px;}
  50%  {height: 150px;}
  100% {height: 170px;}
}

@keyframes color {
  0%   {border-color:pink;}
  25%  {border-color:yellow;}
  50%  {border-color:limegreen;}
  75%  {border-color:orange;}
  100% {border-color:magenta;}
}
@keyframes dangle {
  0% {
    transform-origin: top center;
    animation-timing-function: ease-in-out;
  }

  20%,
  60% {
    transform: rotate3d(0, 0, 1, 80deg);
    transform-origin: top center;
    animation-timing-function: ease-in-out;
  }

  40%,
  80% {
    transform: rotate3d(0, 0, 1, 60deg);
    transform-origin: top center;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  to {
    transform: translate3d(0, 70px, 0);

  }
}
@keyframes expand {
  0% {transform: scaleX(1.1);}
  20% {transform: scaleX(1.4);}
  40% {transform: scaleX(1.6);}
  60% {transform: scaleX(1.9);}
  80% {transform: scaleX(2.1);}
  100% {transform: scaleX(2.4);}
  /* 0%   {width: 45px;}
  25%  {width: 65px;}
  50%  {width: 90px;}
  100% {width: 110px;} */
}
@keyframes grow {
  0% {transform: scaleX(1.2) scaleY(1.2);}
  10% {transform: scaleY(1.6) scaleX(1.6);}
  25% {transform: scaleX(1.9) scaleY(1.9);}
  50% {transform: scaleY(2.2) scaleX(2.2);}
  75% {transform: scaleX(2.4) scaleY(2.4);}
  100%{transform: scaleY(2.6) scaleX(2.6);}
  /* 0%   {width: 45px;}
  25%  {width: 65px;}
  50%  {width: 90px;}
  100% {width: 110px;} */
}
@keyframes inch {
    0% {
        transform: translate3d(0px, 0px, 0px) translate(2px, 1px) rotate(0deg);
        /* animation-timing-function: ease-in; */
    }
    10% {transform: translate(-1px, -2px) rotate(-1deg); }
    20% {transform: translate(-3px, 0px) rotate(1deg); }
    30% {transform: translate(0px, 2px) rotate(0deg); }
    40% {transform: translate(1px, -1px) rotate(1deg); }
    50% {
        transform: translate3d(20px, 0px, 0px) translate(-1px, 2px) rotate(-1deg);
        /* animation-timing-function: ease-out; */
    }
    60% {transform: translate(-3px, 1px) rotate(0deg); }
    70% {transform: translate(2px, 1px) rotate(-1deg); }
  	80% {transform: translate(-1px, -1px) rotate(1deg); }
  	90% {transform: translate(2px, 2px) rotate(0deg); }

    100% {
        transform: translate3d(10px, 0px, 0px) translate(1px, -2px) rotate(-1deg);
    }
}

@keyframes jiggle {
  from,
  11.1%,
  to {
    transform: translate3d(0, 0, 0);
  }

  22.2% {
    transform: skewX(-19.5deg) skewY(-19.5deg);
  }

  33.3% {
    transform: skewX(5.25deg) skewY(5.25deg);
  }

  44.4% {
    transform: skewX(-10.125deg) skewY(-10.125deg);
  }

  55.5% {
    transform: skewX(6.5625deg) skewY(6.5625deg);
  }

  66.6% {

    transform: skewX(-0.98125deg) skewY(-0.98125deg);
  }

  77.7% {

    transform: skewX(0.590625deg) skewY(0.590625deg);
  }

  88.8% {

    transform: skewX(-0.3953125deg) skewY(-0.3953125deg);
  }
}
@keyframes knock {
  from {
    transform-origin: left bottom;
    opacity: 1;
  }

  to {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 75deg);
    opacity: 0.8;
  }
}

@keyframes loop {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform-origin: top left;
            transform-origin: top center;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transform-origin: top left;
            transform-origin: top center;
  }
}
@keyframes squishing {
  10%, 40%, 80% { transform: scale(1.3, .5); }
  0%, 30%, 60%, 100% {transform: scale(.5, 1.3);}
}
@keyframes skewing {
  0% { transform: skewX(6deg); }
  10% { transform: skewX(-6deg); }
  20% { transform: skewX(4deg); }
  30% { transform: skewX(-4deg); }
  40% { transform: skewX(2deg); }
  50% { transform: skewX(-6deg); }
  55% { transform: skewX(6deg); }
  60% { transform: skewX(-5deg); }
  65% { transform: skewX(5deg); }
  70% { transform: skewX(-4deg); }
  75% { transform: skewX(4deg); }
  80% { transform: skewX(-3deg); }
  85% { transform: skewX(3deg); }
  90% { transform: skewX(-2deg); }
  95% { transform: skewX(2deg); }
  100%   { transform: skewX(1deg); }
}
@keyframes nudge {
	0% {
		transform: rotateZ(65deg);

	}
  50% {
    	transform: rotateZ(45deg);

  }
	100% {
		transform: rotateZ(45deg);
    transform: translateX(20px);
	}
}
@keyframes open{
  0% {  transform: rotateY(0);
  transform-origin: left;
    opacity: 1;
  }
  100% {
  transform: rotateY(120deg);
  transform-origin: left;
    opacity: 0;
  }
}

@keyframes quick {
  0%{
    transform: scale3d(1,1,1);
  }
  30%{
    transform: scale3d(.5,1.65,1);
  }
  40%{
    transform: scale3d(1.75,.5,1);
  }
  50%{
    transform: scale3d(.55,1.35,1);
  }
  65%{
    transform: scale3d(1.25,.65,1);
  }
  75%{
    transform: scale3d(.65,1.35,1);
  }
  100%{
    transform: scale3d(1,1,1);
  }
}
@keyframes twist {
  0% {
            transform: rotateY(0deg) rotateZ(0);
  }
  50% {
            transform: rotateY(-180deg) rotateZ(360deg);
  }
  100% {
            transform: rotateY(-360deg) rotateZ(360deg);
  }
}
@keyframes under {
  0% {
            transform: translateY(0) translateZ(0) rotateX(0);
            transform-origin: 50% 100%;
  }
  100% {
            transform: translateY(100%) translateZ(-260px) rotateX(-180deg);
            transform-origin: 50% 0%;
  }
}

@keyframes vibrate {
  0% {

            transform: translate(0);
  }
  10% {
            transform: translate(-2px, -2px);
  }
  20% {
            transform: translate(2px, -2px);
  }
  30% {
            transform: translate(-2px, 2px);
  }
  40% {
            transform: translate(2px, 2px);
  }
  50% {
            transform: translate(-2px, -2px);
  }
  60% {
            transform: translate(2px, -2px);
  }
  70% {
            transform: translate(-2px, 2px);
  }
  80% {
            transform: translate(-2px, -2px);
  }
  90% {
            transform: translate(2px, -2px);
  }
  100% {
            transform: translate(0);
  }
}

@keyframes flash {
  0%   { opacity:1; }
 50%  { opacity:0; }
 100% { opacity:1; }
}

@keyframes yoyo {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}
/* @keyframes yoyo {

0% {

        transform: rotate(-1deg);
    }

    50% {

        transform: rotate(2deg);
    }

      75% {

        transform: rotate(-3deg);
    }

      100% {

        transform: rotate(0deg);

    }


} */

@keyframes zigzag {
    0% {
                transform: translate(0, 0);
    }
    33% {
                transform: translate(25%, 50%);
    }
    66% {

                transform: translate(-25%, 50%);
    }
    100% {

                transform: translate(0, 0);
    }
}
@keyframes zigzag2 {
    0% {

                transform: translate(0, 0);
    }
    33% {

                transform: translate(-25%, -50%);
    }
    66% {

                transform: translate(25%, -50%);
    }
    100% {

                transform: translate(0, 0);
    }
}




@media only screen and (min-width : 768px) and (max-width : 1024px) {

  /* text */
#letter-c{
  transform: rotate(45deg);
}
#letter-d{
  transform: rotate(135deg);
}
  /* image */

}

/* Mobile
-------------------------------------------------- */

@media screen and (max-width: 768px) {

  /* text */
#letter-c{
  transform: rotate(-50deg);

}
#letter-d{
  transform: rotateZ(75deg);
}
  /* image */

}
@media (orientation: landscape) {

  /* text */

  /* image */

}  /* text */

  /* image */
