#container{
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;


}

#container:hover .rect1, #container:hover .rect2, #container:hover .rect3, #container:hover .rect4{
transform: scale(0.3) rotate(45deg) translate(16px, 1px) skew(-61deg, -73deg);
background: linear-gradient(135deg, rgba(102,181,255,1) 0%, rgba(102,181,255,0.99) 2%, rgba(102,255,232,0.94) 15%, rgba(102,194,255,0.88) 31%, rgba(102,255,194,0.81) 50%, rgba(87,255,230,0.77) 62%, rgba(10,186,255,0.73) 71%, rgba(48,194,255,0.72) 75%, rgba(163,218,255,0.85) 87%, rgba(118,191,240,0.98) 98%, rgba(118,191,240,1) 100%);
}
#container1{
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-around;

}

#container1:hover .rect1, #container1:hover .rect2, #container1:hover .rect3, #container1:hover .rect4{
  transform: scale(0.5) rotate(45deg) translate(-36px, -24px) skew(59deg, 2deg);
  background: linear-gradient(135deg, rgba(204,102,255,1) 0%, rgba(204,102,255,0.99) 2%, rgba(107,102,255,0.94) 15%, rgba(191,102,255,0.88) 31%, rgba(102,135,255,0.81) 50%, rgba(92,87,255,0.77) 62%, rgba(124,10,255,0.73) 71%, rgba(147,48,255,0.72) 75%, rgba(217,163,255,0.85) 87%, rgba(189,117,240,0.98) 98%, rgba(189,117,240,1) 100%);

}
#container2{

display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#container2:hover .rect1, #container2:hover .rect2, #container2:hover .rect3, #container2:hover .rect4 {

transform: scale(0.2) rotate(45deg) translate(16px, 1px) skew(-61deg, -73deg);
  background: linear-gradient(135deg, rgba(255,179,107,1) 0%, rgba(255,179,107,0.99) 2%, rgba(255,107,129,0.94) 15%, rgba(255,166,107,0.88) 31%, rgba(255,107,166,0.81) 50%, rgba(255,92,116,0.77) 62%, rgba(255,83,15,0.73) 71%, rgba(255,114,55,0.72) 75%, rgba(255,206,173,0.85) 87%, rgba(255,166,107,0.98) 98%, rgba(255,166,107,1) 100%);
}




}
.rect1{
  width: 150px;
      height: 100px;

      transform: rotate(45deg);
      background: linear-gradient(135deg, rgba(10,226,255,1) 0%, rgba(10,226,255,0.95) 18%, rgba(250,132,132,0.91) 36%, rgba(174,98,245,0.86) 54%, rgba(59,30,253,0.81) 75%, rgba(26,10,255,0.86) 81%, rgba(250,153,140,0.98) 98%, rgba(250,153,140,1) 100%);
      mix-blend-mode: color-dodge;
      position: relative;
}


.rect2{
  width: 150px;
      height: 100px;

    transform:rotate(45deg);
    background: linear-gradient(135deg, rgba(10,226,255,1) 0%, rgba(10,226,255,0.95) 18%, rgba(250,132,132,0.91) 36%, rgba(174,98,245,0.86) 54%, rgba(59,30,253,0.81) 75%, rgba(26,10,255,0.86) 81%, rgba(250,153,140,0.98) 98%, rgba(250,153,140,1) 100%);
  margin: 3px;
      mix-blend-mode: color-dodge;
      position: relative;
}



.rect3{
  width: 150px;
      height: 100px;

      transform: rotate(45deg);
      background:  linear-gradient(135deg, rgba(10,226,255,1) 0%, rgba(10,226,255,0.95) 18%, rgba(250,132,132,0.91) 36%, rgba(174,98,245,0.86) 54%, rgba(59,30,253,0.81) 75%, rgba(26,10,255,0.86) 81%, rgba(250,153,140,0.98) 98%, rgba(250,153,140,1) 100%);
      mix-blend-mode: color-dodge;



}




.rect4{
  width: 150px;
      height: 100px;
position: relative;
    transform: rotate(45deg);
    background:  linear-gradient(135deg, rgba(10,226,255,1) 0%, rgba(10,226,255,0.95) 18%, rgba(250,132,132,0.91) 36%, rgba(174,98,245,0.86) 54%, rgba(59,30,253,0.81) 75%, rgba(26,10,255,0.86) 81%, rgba(250,153,140,0.98) 98%, rgba(250,153,140,1) 100%);
      mix-blend-mode: color-dodge;

}



HTML {
  height: 100%;
}

BODY {
  background: rgba(173, 255, 251, 0.9);
  background-size: 100% 100%;
  background-repeat: repeat;
}
