#container{
  display: flex;

  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content:flex-start;
}

#rect1{
  width: 150px;
      height: 100px;

      transform: rotate(45deg);
      background: radial-gradient(ellipse at center, rgba(245,44,94,1) 12%, rgba(245,51,93,1) 15%, rgba(252,243,70,1) 100%);


      mix-blend-mode: color-dodge;
      position: relative;
}
#rect2{
  width: 150px;
      height: 100px;

    transform:rotate(45deg);
    background: radial-gradient(ellipse at center, rgba(252,243,70,1) 15%, rgba(252,243,70,1) 21%, rgba(246,75,90,1) 85%, rgba(245,44,94,1) 97%);
  margin: 3px;
      mix-blend-mode: color-dodge;
      position: relative;
}

#rect3{
  width: 150px;
      height: 100px;

      transform: rotate(45deg);
      background: radial-gradient(ellipse at center, rgba(245,44,94,1) 12%, rgba(245,51,93,1) 15%, rgba(252,243,70,1) 100%);
      mix-blend-mode: color-dodge;

}

#rect4{
  width: 150px;
      height: 100px;

    transform: rotate(45deg);
    background: radial-gradient(ellipse at center, rgba(252,243,70,1) 15%, rgba(252,243,70,1) 21%, rgba(246,75,90,1) 85%, rgba(245,44,94,1) 97%);
      mix-blend-mode: color-dodge;


}


}

HTML {
  height: 100%;
}

BODY {
  background: papayawhip;
  background-size: 100% 100%;
  background-repeat: repeat;
}
