#container{
  display: flex;
flex-wrap: wrap;
flex-direction: row-reverse;
}

.box {
  width: 0;
  height: 0;

  border-top: 50px solid blueviolet;
  border-right: 50px solid aquamarine;
  border-bottom: 50px solid mediumseagreen;
  border-left: 50px solid coral;
}

    .diamond {
      width: 0;
      height: 0;
      border: 50px solid transparent;
      border-bottom-color: hotpink;
      position: relative;
      top: -50px;
    }
    .diamond:after {
      content: '';
      position: absolute;
      left: -50px;
      top: 50px;
      width: 0;
      height: 0;
      border: 50px solid transparent;
      border-top-color: yellow;
    }
