

#example-five {
  position: absolute;
}
#example-five-checkbox {
  display: none;
  color: green;
}
#example-five-checkbox:checked + #example-five:after {
  content: "alter";
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  background: cyan;
  opacity: 0.8;
}
h1 {
  top: 550%;
  left: 50%;
position: relative;
  word-spacing: 10px;
  font-size: 10em;
  color: purple;

}
#container{
  display: flex;
flex-wrap: wrap;
flex-direction: row-reverse;
justify-content:space-between;
}
#container2{
  display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content:space-between;
}

.box {
  width: 100px;
  height: 100px;
  margin: 10px;
  background: linear-gradient(135deg, rgba(107,166,255,1) 0%, rgba(107,166,255,0.99) 2%, rgba(107,255,250,0.94) 15%, rgba(107,179,255,0.88) 31%, rgba(107,255,213,0.81) 50%, rgba(92,255,250,0.77) 62%, rgba(15,159,255,0.73) 71%, rgba(56,172,255,0.72) 75%, rgba(173,213,255,0.85) 87%, rgba(107,179,255,0.98) 98%, rgba(107,179,255,1) 100%);
  box-shadow: 5px 10px;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count:infinite;

}

@keyframes example {
  from {background:linear-gradient(135deg, rgba(255,179,107,1) 0%, rgba(255,179,107,0.99) 2%, rgba(255,107,129,0.94) 15%, rgba(255,166,107,0.88) 31%, rgba(255,107,166,0.81) 50%, rgba(255,92,116,0.77) 62%, rgba(255,83,15,0.73) 71%, rgba(255,114,55,0.72) 75%, rgba(255,206,173,0.85) 87%, rgba(255,166,107,0.98) 98%, rgba(255,166,107,1) 100%);}
  to {background: linear-gradient(135deg, rgba(255,107,216,1) 0%, rgba(255,107,216,0.99) 2%, rgba(201,107,255,0.94) 15%, rgba(255,107,228,0.88) 31%, rgba(164,107,255,0.81) 50%, rgba(195,92,255,0.77) 62%, rgba(255,15,239,0.73) 71%, rgba(255,56,238,0.72) 75%, rgba(255,173,240,0.85) 87%, rgba(255,107,228,0.98) 98%, rgba(255,107,228,1) 100%);}
}
.box2 {
  width: 100px;
  height: 100px;
  margin: 10px;
  background: linear-gradient(135deg, rgba(107,166,255,1) 0%, rgba(107,166,255,0.99) 2%, rgba(107,255,250,0.94) 15%, rgba(107,179,255,0.88) 31%, rgba(107,255,213,0.81) 50%, rgba(92,255,250,0.77) 62%, rgba(15,159,255,0.73) 71%, rgba(56,172,255,0.72) 75%, rgba(173,213,255,0.85) 87%, rgba(107,179,255,0.98) 98%, rgba(107,179,255,1) 100%);
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count:infinite;

}

@keyframes example {
  from {background: linear-gradient(135deg, rgba(255,107,216,1) 0%, rgba(255,107,216,0.99) 2%, rgba(201,107,255,0.94) 15%, rgba(255,107,228,0.88) 31%, rgba(164,107,255,0.81) 50%, rgba(195,92,255,0.77) 62%, rgba(255,15,239,0.73) 71%, rgba(255,56,238,0.72) 75%, rgba(255,173,240,0.85) 87%, rgba(255,107,228,0.98) 98%, rgba(255,107,228,1) 100%);}
  to {background:linear-gradient(135deg, rgba(255,179,107,1) 0%, rgba(255,179,107,0.99) 2%, rgba(255,107,129,0.94) 15%, rgba(255,166,107,0.88) 31%, rgba(255,107,166,0.81) 50%, rgba(255,92,116,0.77) 62%, rgba(255,83,15,0.73) 71%, rgba(255,114,55,0.72) 75%, rgba(255,206,173,0.85) 87%, rgba(255,166,107,0.98) 98%, rgba(255,166,107,1) 100%);}
}
