.purple-1{
  width: 200px;
  height: 200px;
  background: #B975FF;
  margin: 20px;
}

.purple-2{
  width: 200px;
  height: 200px;
  background: #866BE8;
  margin: 20px;
}
.purple-3{
  width: 200px;
  height: 200px;
  background: #8288FF;
  margin: 20px;
}
.purple-4{
  width: 200px;
  height: 200px;
  background: #6B92E8;
  margin: 20px;
}
.purple-5{
  width: 200px;
  height: 200px;
  background: #75C5FF;
  margin: 20px;
}
